<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
						http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>WebFrame Berheley</display-name>
	<description>
		Berheley WebFrame System ! http://www.berheley.com
	</description>

	<distributable />

	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	
	<!-- ************************************     监听器 begin     ************************************ -->
	<!--Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>com.berheley.wf.extend.WebFrameContextLoaderListener</listener-class>
	</listener>
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- ************************************     监听器  end      ************************************ -->
	
	
	<!-- ************************************应用范围内参数初始化 begin************************************ -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webframe.root</param-value>
	</context-param>

	<!-- 日志 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	
	<!-- WebFrame框架模块插件驱动加载器 -->
	<context-param>
		<param-name>modulePluginLoaderName</param-name>
		<param-value>com.berheley.wf.core.loader.PropertiesModulePluginLoader</param-value>
	</context-param>
	<!-- ************************************应用范围内参数初始化 end************************************ -->


	<!-- ************************************     过滤器 begin     ************************************ -->
	<!-- 参数编码Filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- Hibernate长Session -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<description>
				singleSession默认为true,若设为false则等于没用OpenSessionInView
			</description>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>RestUrlRewriteFilter</filter-name>
		<filter-class>com.berheley.wf.extend.url.RestUrlRewriteFilter</filter-class>
		<init-param>
			<param-name>prefix</param-name>
			<param-value>/static</param-value>
		</init-param>
		<init-param>
			<param-name>excludeExtentions</param-name>
			<param-value>jsp,jspx,ftl,json,xml</param-value>
		</init-param>		
	</filter>
	
	<!--
		浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http
		delete方法
	-->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	
	<!-- WebFrame框架过滤器代理链 -->
	<filter>
		<filter-name>webframeFilterChain</filter-name>
		<filter-class>com.berheley.wf.web.filter.WebFrameFilterProxy</filter-class>
	</filter>
	<!-- ************************************     过滤器 begin     ************************************ -->
	
	
	<!-- ************************************   过滤器 映射 begin   ************************************ -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RestUrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>webframeFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>SpringMVC</servlet-name>
	</filter-mapping>
	<!-- ************************************    过滤器 映射 end    ************************************ -->


	<!-- ************************************   Servlet begin    ************************************ -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextAttribute</param-name>
			<param-value>org.springframework.web.context.WebApplicationContext.ROOT</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- ************************************    Servlet end      ************************************ -->


	<!-- ************************************  Servlet 映射begin  ************************************ -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

	<!-- 覆盖default servlet的/, SpringMVC servlet将处理原来处理静态资源的映射 -->   
	<servlet-mapping>   
	    <servlet-name>SpringMVC</servlet-name>   
	    <url-pattern>/</url-pattern>   
	</servlet-mapping>
	<!-- ************************************   Servlet 映射end   ************************************ -->


	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/jsp/errorPage/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/errorPage/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/errorPage/500.jsp</location>
	</error-page>


	<jsp-config>
		<taglib>
			<taglib-uri>c.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>fn.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>fmt.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>valuelist.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/valuelist.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>spring.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>spring-form.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
